@using FIAP_PersistenciaDados.Model
@model Produto

<h2>Detalhes do Produto</h2>

<div>
    <h4>Nome: @Html.DisplayFor(model => model.Nome)</h4>
    <h4>Preço: @Html.DisplayFor(model => model.Preco)</h4>
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar para a Lista</a>
</p>
